#app-footer {
  position: relative;
  padding: 25px;
  background: rgba($dark, .8);
  font-size: 12px;
  font-family: $headings-font-family;
  text-align: center;
  color: #fff;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    font-size: $font-size-base;
  }
}
