#app-header {
  position: absolute;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  background: rgba($dark, .8);
  color: #fff;
  z-index: 400;
}

.logo {
  font-size: $h5-font-size;
  font-family: $headings-font-family;
  color: #fff;
}

.header-nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {

    a {
      font-size: $h5-font-size;
      font-family: $headings-font-family;
      color: #fff;
    }
  }
}
