#preloader-wrapper {
  @extend %pos;
  position: fixed;
  background: #ccc;
  z-index: 3000;

  .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}
